{% extends 'account/base.html' %}

{% block title %}{% block title-meta %}
    تبریک!
{% endblock %}{% endblock %}

{% block main %}
    <div class="col-md-8 text-center mx-auto">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title mb-0 float-left">پیام</h3>
            </div>
            <div class="card-body py-4">
                <p>رمز عبور شما با موفقیت تغییر یافت!</p>
                <p>برگشت به <a href="{% url 'account:dashboard' %}">داشبورد</a></p>
            </div>
        </div>
    </div>
{% endblock %}
